@model ProjectRegistration.Models.ProjectMember

@{
    ViewData["Title"] = "AddMemberToProject";
}

<h1>Thêm sinh viên vào đồ án</h1>

<h4>@ViewData["id"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMemberToProject">
            <input asp-for="ProjectId" id="ProjectId" hidden value="@ViewData["id"]" />
            @*<div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="GroupName" id="GroupName" class="control-label">Tên nhóm</label>
                <input asp-for="GroupName" id="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sinh viên 1</label>
                <select name="StudentId1" class="form-control" asp-items="ViewBag.StudentId1"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Sinh viên 2</label>
                <select name="StudentId2" class="form-control" asp-items="ViewBag.StudentId2">
                    <option value="" selected="selected" hidden="hidden">Chọn sinh viên thứ 2 (nếu có)</option>
                </select>
            </div>
            @*<div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>*@@*
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted" class="control-label"></label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDateTime" class="control-label"></label>
                <input asp-for="DeletedDateTime" class="form-control" />
                <span asp-validation-for="DeletedDateTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProjectDetails" asp-route-id="@ViewData["id"]">Quay lại chi tiết đồ án</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
