@model ProjectRegistration.Models.Class

@{
    ViewData["Title"] = "Sửa thông tin lớp học";
}

<h1 class="pt-4">Sửa thông tin lớp học</h1>

<h4 class="pt-3">@Model.Course.CourseName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Môn học</label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <input asp-for="ClassId" class="form-control" />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyear" class="control-label"></label>
                <input asp-for="Cyear" class="form-control" />
                <span asp-validation-for="Cyear" class="text-danger"></span>
            </div>
            <div class="form-group pb-4">
                <label>Đăng ký đồ án</label>
                <div class="form-group pb-4">
                    <label asp-for="RegOpen" class="control-label"></label>
                    <div>
                        <input asp-for="RegOpen" type="radio" name="RegOpen" value="Đóng đăng ký" /> Đóng đăng ký
                        <input asp-for="RegOpen" type="radio" name="RegOpen" value="Mở đăng ký" /> Mở đăng ký
                    </div>
                    <span asp-validation-for="RegOpen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegStart" class="control-label"></label>
                    <input asp-for="RegStart" class="form-control" />
                    <span asp-validation-for="RegStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegEnd" class="control-label"></label>
                    <input asp-for="RegEnd" class="form-control" />
                    <span asp-validation-for="RegEnd" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" pt-3 pb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="pt-4" asp-action="Index">Quay trở lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function hasClass(elem, className) {
            console.log(className);
            return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(elem, className) {
            if (!hasClass(elem, className)) {
                elem.className += ' ' + className;
            }
        }


        function removeClass(elem, className) {
            var newClass = ' ' + elem.className.replace(/[\t\r\n]/g, ' ') + ' ';
            if (hasClass(elem, className)) {
                while (newClass.indexOf(' ' + className + ' ') >= 0) {
                    newClass = newClass.replace(' ' + className + ' ', ' ');
                }
                elem.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }

        let toggleRegId = document.getElementById('toggleReg');
        let statusId = document.getElementById('RegStatus');

        console.log('initial check');
        if (statusId.value == "Mở đăng ký") {
            addClass(toggleRegId, 'btn-success');
            console.log('is green');
        }
        else {
            addClass(toggleRegId, 'btn-danger');
            console.log('is red');
        }
     
        toggleRegId.onclick = function () {
            if (hasClass(toggleRegId, 'btn-danger')) {
                removeClass(toggleRegId, 'btn-danger');
                addClass(toggleRegId, 'btn-success');
                statusId.value = "Mở đăng ký";
            }
            else {
                removeClass(toggleRegId, 'btn-success');
                addClass(toggleRegId, 'btn-danger');
                statusId.value = "Đóng đăng ký";
            }
            console.log("res: " + toggleRegId.className);
        }
    </script>
}
