@model ProjectRegistration.Models.Class

@{
    ViewData["Title"] = "Sửa thông tin lớp học";
}

<link href="~/vendors/icheck/skins/flat/green.css" rel="stylesheet" />
<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/vendors/normalize-css/normalize.css" rel="stylesheet" />
<link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

<a class="pt-4" asp-action="Index"><i class="fa fa-chevron-left"></i> Quay trở lại</a>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Model.Course.CourseName</h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@Model.ClassId</h2>

                    <ul class="nav navbar-right panel_toolbox" style="min-width:fit-content">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="Edit" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="item form-group mb-4">
                            <label asp-for="CourseId" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                            <div class="col-md-4 col-sm-4 ">
                                <select id="courseId" asp-for="CourseId" onchange="checkCourseId()" asp-items="ViewBag.Course" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="item form-group mb-4">
                            <label asp-for="ClassId" class="col-form-label col-md-3 col-sm-3 label-align">
                            </label>
                            <div class="col-md-4 col-sm-4 ">
                                <input id="classId" asp-for="ClassId" type="text" required="required" class="form-control">
                            </div>
                        </div>
                        <div class="item form-group mb-4">
                            <label asp-for="Semester" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                            <div class="col-md-4 col-sm-4 ">
                                <select asp-for="Semester" class="form-control" asp-items="ViewBag.Semester">
                                </select>
                            </div>
                        </div>
                        <div class="item form-group mb-4">
                            <label asp-for="Cyear" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                            <div class="col-md-4 col-sm-4 ">
                                <select onfocus='this.size=5;' onblur='this.size=1;'
                                        onchange='this.size=1; this.blur();' asp-for="Cyear" asp-items="ViewBag.Year" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="item form-group mb-4">
                            <label asp-for="RegOpen" class="col-form-label col-md-3 col-sm-3 label-align">
                            </label>
                            <div class="col-md-4 col-sm-4 ">
                                <div id="RegOpen" class="btn-group">
                                    <input id="regState" type="hidden" value="@Model.RegOpen" />
                                    <label class="btn btn-secondary" id="closeBtn">
                                        <input asp-for="RegOpen" type="radio" name="RegOpen" value="Đóng" class="join-btn"> &nbsp; Đóng đăng ký &nbsp;
                                    </label>
                                    <label class="btn btn-secondary" id="openBtn">
                                        <input asp-for="RegOpen" type="radio" name="RegOpen" value="Mở" class="join-btn"> &nbsp; Mở đăng ký &nbsp;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="item form-group mb-4">
                            <label asp-for="RegStart" class="col-form-label col-md-3 col-sm-3 label-align">
                            </label>
                            <div class="col-md-4 col-sm-4 ">
                                <div class="input-prepend input-group">
                                    <input type="text" name="RegTime" id="reservation-time" class="form-control" value="@ViewBag.RegTime"  />
                                    <span class="add-on input-group-addon" style="align-items:center"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="offset-md-4 center-margin">
                                <a class="btn btn-danger" type="button" asp-action="Index">Quay lại</a>
                                <button class="btn btn-primary" type="reset">Nhập lại</button>
                                <button type="submit" class="btn btn-success">&nbsp; Lưu &nbsp;</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script>
        function hasClass(elem, className) {
            return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
        }

        function addClass(elem, className) {
            if (!hasClass(elem, className)) {
                elem.className += ' ' + className;
            }
        }


        function removeClass(elem, className) {
            var newClass = ' ' + elem.className.replace(/[\t\r\n]/g, ' ') + ' ';
            if (hasClass(elem, className)) {
                while (newClass.indexOf(' ' + className + ' ') >= 0) {
                    newClass = newClass.replace(' ' + className + ' ', ' ');
                }
                elem.className = newClass.replace(/^\s+|\s+$/g, '');
            }
        }

        let openBtn = document.getElementById('openBtn');
        let closeBtn = document.getElementById("closeBtn");

        openBtn.onclick = () => {
            addClass(openBtn, "btn-success");
            removeClass(openBtn, "btn-secondary");
            if (hasClass(closeBtn, "btn-danger")) {
                addClass(closeBtn, "btn-secondary");
                removeClass(closeBtn, "btn-danger")
            }
        }

        closeBtn.onclick = () => {
            addClass(closeBtn, "btn-danger");
            removeClass(closeBtn, "btn-secondary");
            if (hasClass(openBtn, "btn-success")) {
                addClass(openBtn, "btn-secondary");
                removeClass(openBtn, "btn-success")
            }
        }

    </script>
    <script>
        let state = document.getElementById('regState');
        if (state.value == "Mở") {
            addClass(openBtn, "btn-success");
            removeClass(openBtn, "btn-secondary");
        }
        else {
            addClass(closeBtn, "btn-danger");
            removeClass(closeBtn, "btn-secondary");
        }
    </script>
    <script>
        function checkCourseId() {
            var course = $('#courseId').find(":selected").val();
            let classInput = document.getElementById('classId');
            classInput.value = classInput.value.toUpperCase();

            $.ajax({
                type: "GET",
                url: "/Courses/FindCourse",
                async: false,
                data: { id: course },
                success: function (data) {
                    if ($('#classId').val().toString().substr(0, data.courseId.length + 1) != data.courseId + ".") {
                        $('#classId').val(data.courseId + ".");
                    }
                }
            })
        }
        $('#classId').on('input', checkCourseId);
        checkCourseId();
    </script>
}
