@model ProjectRegistration.Models.User

@{
    ViewData["Title"] = "Sửa thông tin tài khoản";
}

<h1>Sửa thông tin tài khoản</h1>

<h4>Tài khoản</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" type="file" accept="image/png, image/jpeg" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Department"></select>
            </div>
            <div class="form-group pb-4">
                <label asp-for="UserTypeId" class="control-label"></label>
                <div>
                    <input asp-for="UserTypeId" type="radio" name="UserTypeId" value="10" /> Giảng viên
                    <input asp-for="UserTypeId" type="radio" name="UserTypeId" value="100" /> Sinh viên
                </div>
                <span asp-validation-for="UserTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay trở lại</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
