@page
@model ResetPasswordConfirmationModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được thay đổi. Xin hãy <a asp-page="./Login">ấn vào đây để đăng nhập</a>.
</p>
