@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>Tắt xác thực 2 lớp</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Đồng ý tắt xác thực 2 lớp.</strong>
    </p>
    <p>
        Việc tắt 2FA không thay đổi key được sử dụng trong ứng dụng xác thực. Nếu bạn muốn thay đổi key
        được sử dụng trong ứng dụng, bạn nên <a asp-page="./ResetAuthenticator">đặt lại key xác thực của bạn.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Tắt 2FA</button>
    </form>
</div>
