@model ProjectRegistration.Models.Department

@{
    ViewData["Title"] = "Sửa thông tin khoa";
}

<h1 class="pt-4">Sửa thông tin khoa</h1>

<h4 class="pt-3">Khoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Dname" class="control-label"></label>
                <input asp-for="Dname" class="form-control" />
                <span asp-validation-for="Dname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted" class="control-label"></label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDateTime" class="control-label"></label>
                <input asp-for="DeletedDateTime" class="form-control" />
                <span asp-validation-for="DeletedDateTime" class="text-danger"></span>
            </div>*@
            <div class="form-group" pt-3 pb-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="pt-4"  asp-action="Index">Quay trở lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
