@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav navbar-dark">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var source = "../../files/" + user.ImagePath;
        <img src="@source" alt="Avatar" class="avatar">
        <li class="nav-item">

            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
        </li>
    }
</ul>
<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>